@import "tailwindcss";

/* Smooth font rendering */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f3f4f6;
}

/* Fancy Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #6366f1;
  border-radius: 8px;
}
